
@{
    ViewBag.Title = "微信中心";
}

<h2>@ViewBag.Title</h2>

<li>@Html.ActionLink("导入", "Import", "WeChat")</li>
<li>@Html.ActionLink("邀请", "Invite", "WeChat")</li>
<li>@Html.ActionLink("查询", "Enquery", "WeChat")</li>